@media (max-width: 790px) {
  .msg {
    padding: 10px !important;
    flex-wrap: wrap;

    img {
      margin: 10px auto;
    }
  }
  .parent-center {
    width: 75% !important;

    .levels {
      padding: 35px !important;
    }
  }
}

@media (max-width: 550px) {
  .bullets {
    flex-direction: column;

    div {
      margin-top: 20px;
    }
  }
  h1 {
    font-size: 35px !important;
  }

  .parent-center {
    width: 90% !important;
  }

  label {
    max-width: 250px !important;
    word-break: break-word;
  }

  .msg {
    padding: 10px !important;
    flex-wrap: wrap;

    img {
      margin: 10px auto;
    }
  }

  .count {
    padding: 0;
    flex: 4 !important;
  }
}

@media (max-width: 400px) {
  .main-btn {
    flex-direction: column;

    .box {
      justify-content: center;
      align-items: center;
    }

    .txt {
      text-align: center;
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 280px) {
  h1 {
    font-size: 20px;
  }

  .levels {
    padding: 5px !important;
  }

  .quiz-info {
    flex-direction: column;

    * {
      text-align: left !important;
      margin-top: 20px;
    }
  }
  .parent-center {
    width: 100% !important;
  }

  .levels {
    margin: 20px 5px !important;
  }
  .custom_radio {
    margin: 20px 0;
    font-size: 13px;
    padding: 5px;

    label {
      width: 100%;
    }
  }
}